<section id="experiencia">
    <div class="container-fluid">
        <h2><em>EXPERIENCIA LABORAL</em></h2>
        <div class="col lg-md-sm-2" *ngIf="isLogged">
            <button type="button" routerLink="/nuevaexp"><i class="fa-solid fa-plus"></i></button>
        </div>
        <ul>
            <li>
                <app-experiencia *ngFor="let experiencia of experiencias"
                [experiencia]="experiencia"></app-experiencia>

            </li>
        </ul>
    </div>
</section>
  
