<section id="skills">
    <div class="container-fluid">
      <h2><em>HARD AND SOFT SKILLS</em></h2>
        <div class="row">
          <ul>
            <li>
              <app-habilidad *ngFor="let habilidad of habilidades"
              [habilidad]="habilidad"></app-habilidad>             
             </li>
          </ul>
        </div> 
    </div>
</section>

              <!--circle-progress 
                    [percent]="habilidad.porcentaje"
                    [radius]="100"
                    [title]="habilidad.nombre"
                    [titleFontSize]="'15px'"
                    [showSubtitle]="false"
                    [showUnits]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="3"
                    [outerStrokeColor]="'#5757F9'"
                    [innerStrokeColor]="'#B9B9FB'"
                    [animation]="true"
                    [animationDuration]="500"
              ></circle-progress-->
            

