<div class="modal-edit-educacion">
  <div class="container" *ngIf="educacion">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate" novalidate #f="ngForm">
              <h4><b>{{title}}</b></h4>
                <div class="form_group">
                  <label for="institucion">Institucion</label>
                  <input type="text" class="form-control" id="institucion" name="institucion" [(ngModel)]="educacion.institucion" required>
              </div>
              <div class="form_group">
                  <label for="titulo">Id</label>
                  <input id="titulo" type="text" name="titulo" class="form-control" [(ngModel)]="educacion.titulo" required>
              </div>
              <div class="form_group">
                  <label for="fecha_inicio">Institución</label>
                  <input id="fecha_inicio" type="text" name="fecha_inicio" class="form-control" [(ngModel)]="educacion.fecha_inicio" required>
              </div>
              <div class="form_group">
                  <label for="fecha_fin">Titulo</label>
                  <input id="fecha_fin" type="text" name="fecha_fin" class="form-control" [(ngModel)]="educacion.fecha_fin"required>
              </div>
              <div>
                  <button class="btn btn-primary" id="btn_aceptar_experiencia">Actualizar
                  </button>
              </div>
              <button id="btn_cancelar_experiencia" type="reset" class="btn btn-secondary" (click)="closeModal()">Cancelar
              </button>
            </form>
          </div>
        </div>
      </div>
          