<div class="row experiencia">
    <div class="col lg-md-sm-4">
      <h3>{{experiencia.empresa}}</h3>
    </div>
    <div class="col lg-md-sm-7">   
      <p class="text_puesto">{{experiencia.puesto}}</p>
      <p class="text_periodo">{{experiencia.fecha_inicio}} - {{experiencia.fecha_fin}}</p>
      <p class="text_tareas">{{experiencia.tareas}}</p>
    </div>
    <div class="col lg-md-sm-1">  
      <div *ngIf="isLogged">
        <button type="button" id="btn-edit-cuspide" routerLink="/editexperiencia/{{experiencia.id}}">
          <i class="fas fa-pen"></i></button>    
      </div>  

      <div *ngIf="isLogged">
        <button type="button" id="btn-rem-cuspide" routerLink="/remexperiencia/{{experiencia.id}}">
          <i class="fa-solid fa-xmark"></i></button> 
      </div>
    </div>
  </div> 
