<div class="container container-fluid">
    <div class="container-form">
      <div class="row">
        <div>
        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

          <h2 class="inicio-sesion">Inicia Sesion</h2>

          <div class="mb-3 form-group">
            <label for="nombreUsuario" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" #nombreUsuario="ngModel" required minlength="6" autofocus>
            <div *ngIf="nombreUsuario.invalid && (nombreUsuario.dirty || nombreUsuario.touched)"
                  class="alert">
                <div *ngIf="nombreUsuario.errors?.['required']">El nombre de usuario es requerido</div>
                <div *ngIf="nombreUsuario.errors?.['minlength']">El nombre de usuario debe tener al menos 6 caracteres</div>
            </div>
          </div>
          <div class="mb-3 form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"  #password="ngModel" required minlength="6" maxlength="12">
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                  class="alert">
                <div *ngIf="password.errors?.['required']">La contraseña es requerida</div>
                <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</div>
                <div *ngIf="password.errors?.['maxlength']">La contraseña no debe superar los 12 caracteres</div>
            </div>
          </div>

          <div class="mb-3 form-button">
            <button type="submit" class="button" id="btn_enviar">Iniciar</button>
          </div>
      </form>>  
    </div>
  </div>
</div>
