<div class="container container-fluid">
    <div class="container-form">

        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

        <h2 class="inicio-sesion">Inicia Sesion</h2>

          <div class="mb-3 form-email">
            <label for="nombreUsuario" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required minlength="6" autofocus>
            <!--div *ngIf="nombreUsuario?.errors && nombreUsuario?.touched">
              <p *ngIf="nombreUsuario?.hasError('required')">El nombre de usuario es requerido</p>
            </div-->
          </div>

          <div class="mb-3 form-password">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required minlength="8">
            <!--div *ngIf="password?.errors && password?.touched">
              <p *ngIf="password?.hasError('required')">La contraseña es requerida</p>
              <p *ngIf="password?.errors?.minlenght">La contraseña debe tener 8 caracteres como minimo</p>
            </div-->
          </div>

          <div class="mb-3 form-button">
            <button type="submit" class="button" id="btn_enviar">Iniciar</button>
          </div>
        </form>
      </div>  
    </div>
